/* base */
* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.wrapper, .row, .xsc-1, .xsc-2, .xsc-3, .xsc-4, .xsc-5, .xsc-6, .xsc-7, .xsc-8, .xsc-9, .xsc-10, .xsc-11, .xsc-12,
.sc-1, .sc-2, .sc-3, .sc-4, .sc-5, .sc-6, .sc-7, .sc-8, .sc-9, .sc-10, .sc-11, .sc-12,
.mc-1, .mc-2, .mc-3, .mc-4, .mc-5, .mc-6, .mc-7, .mc-8, .mc-9, .mc-10, .mc-11, .mc-12,
.lc-1, .lc-2, .lc-3, .lc-4, .lc-5, .lc-6, .lc-7, .lc-8, .lc-9, .lc-10, .lc-11, .lc-12 {
  min-height: 1px;
  position: relative; }

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  zoom: 1; }
  .wrapper:before, .wrapper:after {
    display: table;
    content: " "; }
  .wrapper:after {
    clear: both; }

.row {
  margin-right: -20px;
  margin-left: -20px;
  zoom: 1; }
  .row:before, .row:after {
    display: table;
    content: " "; }
  .row:after {
    clear: both; }

.xsc-1, .xsc-2, .xsc-3, .xsc-4, .xsc-5, .xsc-6, .xsc-7, .xsc-8, .xsc-9, .xsc-10, .xsc-11, .xsc-12,
.sc-1, .sc-2, .sc-3, .sc-4, .sc-5, .sc-6, .sc-7, .sc-8, .sc-9, .sc-10, .sc-11, .sc-12,
.mc-1, .mc-2, .mc-3, .mc-4, .mc-5, .mc-6, .mc-7, .mc-8, .mc-9, .mc-10, .mc-11, .mc-12,
.lc-1, .lc-2, .lc-3, .lc-4, .lc-5, .lc-6, .lc-7, .lc-8, .lc-9, .lc-10, .lc-11, .lc-12 {
  padding: 0 20px;
  float: left;
  width: 100%; }

.xsc-1 {
  width: 8.33333%; }

.xsc-2 {
  width: 16.66667%; }

.xsc-3 {
  width: 25%; }

.xsc-4 {
  width: 33.33333%; }

.xsc-5 {
  width: 41.66667%; }

.xsc-6 {
  width: 50%; }

.xsc-7 {
  width: 58.33333%; }

.xsc-8 {
  width: 66.66667%; }

.xsc-9 {
  width: 75%; }

.xsc-10 {
  width: 83.33333%; }

.xsc-11 {
  width: 91.66667%; }

.xsc-12 {
  width: 100%; }

/* dependant */
@media (min-width: 768px) {
  .wrapper {
    width: 750px; }

  .xsc-1 {
    width: 8.33333%; }

  .xsc-2 {
    width: 16.66667%; }

  .xsc-3 {
    width: 25%; }

  .xsc-4 {
    width: 33.33333%; }

  .xsc-5 {
    width: 41.66667%; }

  .xsc-6 {
    width: 50%; }

  .xsc-7 {
    width: 58.33333%; }

  .xsc-8 {
    width: 66.66667%; }

  .xsc-9 {
    width: 75%; }

  .xsc-10 {
    width: 83.33333%; }

  .xsc-11 {
    width: 91.66667%; }

  .xsc-12 {
    width: 100%; }

  .sc-1 {
    width: 8.33333%; }

  .sc-2 {
    width: 16.66667%; }

  .sc-3 {
    width: 25%; }

  .sc-4 {
    width: 33.33333%; }

  .sc-5 {
    width: 41.66667%; }

  .sc-6 {
    width: 50%; }

  .sc-7 {
    width: 58.33333%; }

  .sc-8 {
    width: 66.66667%; }

  .sc-9 {
    width: 75%; }

  .sc-10 {
    width: 83.33333%; }

  .sc-11 {
    width: 91.66667%; }

  .sc-12 {
    width: 100%; } }
@media (min-width: 990px) {
  .wrapper {
    width: 960px; }

  .xsc-1 {
    width: 8.33333%; }

  .xsc-2 {
    width: 16.66667%; }

  .xsc-3 {
    width: 25%; }

  .xsc-4 {
    width: 33.33333%; }

  .xsc-5 {
    width: 41.66667%; }

  .xsc-6 {
    width: 50%; }

  .xsc-7 {
    width: 58.33333%; }

  .xsc-8 {
    width: 66.66667%; }

  .xsc-9 {
    width: 75%; }

  .xsc-10 {
    width: 83.33333%; }

  .xsc-11 {
    width: 91.66667%; }

  .xsc-12 {
    width: 100%; }

  .sc-1 {
    width: 8.33333%; }

  .sc-2 {
    width: 16.66667%; }

  .sc-3 {
    width: 25%; }

  .sc-4 {
    width: 33.33333%; }

  .sc-5 {
    width: 41.66667%; }

  .sc-6 {
    width: 50%; }

  .sc-7 {
    width: 58.33333%; }

  .sc-8 {
    width: 66.66667%; }

  .sc-9 {
    width: 75%; }

  .sc-10 {
    width: 83.33333%; }

  .sc-11 {
    width: 91.66667%; }

  .sc-12 {
    width: 100%; }

  .mc-1 {
    width: 8.33333%; }

  .mc-2 {
    width: 16.66667%; }

  .mc-3 {
    width: 25%; }

  .mc-4 {
    width: 33.33333%; }

  .mc-5 {
    width: 41.66667%; }

  .mc-6 {
    width: 50%; }

  .mc-7 {
    width: 58.33333%; }

  .mc-8 {
    width: 66.66667%; }

  .mc-9 {
    width: 75%; }

  .mc-10 {
    width: 83.33333%; }

  .mc-11 {
    width: 91.66667%; }

  .mc-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px; }

  .xsc-1 {
    width: 8.33333%; }

  .xsc-2 {
    width: 16.66667%; }

  .xsc-3 {
    width: 25%; }

  .xsc-4 {
    width: 33.33333%; }

  .xsc-5 {
    width: 41.66667%; }

  .xsc-6 {
    width: 50%; }

  .xsc-7 {
    width: 58.33333%; }

  .xsc-8 {
    width: 66.66667%; }

  .xsc-9 {
    width: 75%; }

  .xsc-10 {
    width: 83.33333%; }

  .xsc-11 {
    width: 91.66667%; }

  .xsc-12 {
    width: 100%; }

  .sc-1 {
    width: 8.33333%; }

  .sc-2 {
    width: 16.66667%; }

  .sc-3 {
    width: 25%; }

  .sc-4 {
    width: 33.33333%; }

  .sc-5 {
    width: 41.66667%; }

  .sc-6 {
    width: 50%; }

  .sc-7 {
    width: 58.33333%; }

  .sc-8 {
    width: 66.66667%; }

  .sc-9 {
    width: 75%; }

  .sc-10 {
    width: 83.33333%; }

  .sc-11 {
    width: 91.66667%; }

  .sc-12 {
    width: 100%; }

  .mc-1 {
    width: 8.33333%; }

  .mc-2 {
    width: 16.66667%; }

  .mc-3 {
    width: 25%; }

  .mc-4 {
    width: 33.33333%; }

  .mc-5 {
    width: 41.66667%; }

  .mc-6 {
    width: 50%; }

  .mc-7 {
    width: 58.33333%; }

  .mc-8 {
    width: 66.66667%; }

  .mc-9 {
    width: 75%; }

  .mc-10 {
    width: 83.33333%; }

  .mc-11 {
    width: 91.66667%; }

  .mc-12 {
    width: 100%; }

  .lc-1 {
    width: 8.33333%; }

  .lc-2 {
    width: 16.66667%; }

  .lc-3 {
    width: 25%; }

  .lc-4 {
    width: 33.33333%; }

  .lc-5 {
    width: 41.66667%; }

  .lc-6 {
    width: 50%; }

  .lc-7 {
    width: 58.33333%; }

  .lc-8 {
    width: 66.66667%; }

  .lc-9 {
    width: 75%; }

  .lc-10 {
    width: 83.33333%; }

  .lc-11 {
    width: 91.66667%; }

  .lc-12 {
    width: 100%; } }

/*# sourceMappingURL=griddio.css.map */
